[submodule "Hossein-SmartCar"]
	path = Hossein-SmartCar
	url = https://github.com/Smart-Car-Dev/Hossein-SmartCar
[submodule "Parinaz-SmartCar"]
	path = Parinaz-SmartCar
	url = https://github.com/Smart-Car-Dev/Parinaz-SmartCar
[submodule "Salar-SmartCar"]
	path = Salar-SmartCar
	url = https://github.com/Smart-Car-Dev/Salar-SmartCar
[submodule "SmartCar-Dashboard"]
	path = SmartCar-Dashboard
	url = https://github.com/Smart-Car-Dev/SmartCar-Dashboard
[submodule "Sobhan-SmartCar"]
	path = Sobhan-SmartCar
	url = https://github.com/Smart-Car-Dev/TinyOD-STM32
[submodule "Mahdi-SmartCar"]
	path = Mahdi-SmartCar
	url = https://github.com/Smart-Car-Dev/Mahdi-SmartCar-main
